/*----------=======head banner code here===========--------*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    width: 100%;
    height: 50vh;
    background: url(donate-today-main/images/banner.jpg);
    margin-top: -50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.head-banner {
    width: 100%;
    height: 50vh;
}

.head-banner .head-text {
    text-align: center;
    margin-top: 200px;
}

.head-text h1 {
    font-size: 50px;
    color: royalblue;
}

.head-text span {
    color: rgb(243, 20, 195);
}

.head-text p {
    color: white;
}

.head-text a {
    background: linear-gradient(90deg, orange, tomato);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

/*----------========head banner code end========--------*/
/*----------=========Donet today code ========--------*/
.Donet-today {
    width: 100%;
    height: 50vh;
}

.donet-hed-text {
    text-align: center;
    margin-top: 60px;
}

.donet-taka {
    display: flex;
    align-items: center;
    justify-content: center;
}

.taka {
    width: 60px;
    text-align: center;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(211, 211, 211, 0.253);
}

.two-hun {
    border: 1px solid tomato;
    text-align: center;
    background: rgba(255, 99, 71, 0.322);
}

.input-submit {
    text-align: center;
    margin-top: 20px;
}

.input-submit .p-input {
    width: 600px;
    text-align: center;
}

.input-submit .submit {
    width: 100px;
    height: 45px;
    background: linear-gradient(90deg, orange, tomato);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    border: none;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

/*----------======Donet today code end ========--------*/
/*----------======our donate plan code here========--------*/
.donation-plan {
    width: 100%;
    height: 50vh;
}

.child {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

#food-child {
    background: rgba(0, 132, 255, 0.295);
}

#shlter-child {
    background: rgba(255, 99, 71, 0.308);
}

#education-child {
    background: rgba(238, 232, 170, 0.356);
}

/*----------=======our donate plan code end=======--------*/
/*----------======optional code here=======--------*/
.optional {
    margin: 80px;
}

.three-img {
    height: 150px;
    margin: 20px;
    object-fit: cover;
}

.opt-text a {
    background: linear-gradient(90deg, orange, tomato);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

/*----------=======optional code end=========--------*/
/*----------=========Get our update=======--------*/
.update-text {
    text-align: center;
}

.input-device {
    width: 80%;
    height: 100px;
    background: rgba(192, 185, 91, 0.459);
    text-align: center;
}

.input-box {
    height: 30px;
    margin-top: 29px;
    border: none
}

.butt-box {
    height: 33.5px;
    margin-left: -20px;
    background: linear-gradient(90deg, orange, tomato);
}

/*----------=======Get our updat end========--------*/
/*----------=======footer=====--------*/

footer {

    height: 200px;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 30px;
}

footer h3 {
    color: orangered;
}

/*----------=========footer end========--------*/